*, *:before, *:after { box-sizing: border-box }

html, body {
	color: #333;
	background: #fff;
	font: 16px/24px "proxima-nova-extra-condensed", sans-serif;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 13px;
}

::-webkit-scrollbar:horizontal {
    height: 13px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fafafa;
    background-color: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

::-webkit-scrollbar-track { 
    background-color: #fafafa; 
    border-radius: 8px; 
    border-left: 1px solid #eee;
}

#app, .app {
	overflow: hidden;
	height: 100vh;
	width: 100%;
	position: relative;
}

.players {
	background: #fff;
	margin-left: 241px;
	position: relative;
	height: 100%;
	padding-top: 43px;
	padding-bottom: 43px;
	overflow: hidden;
	overflow-y: scroll;
	will-change: opacity;
}

.player {
	padding: 3px 3px 0;
	display: block;
	overflow: hidden;
}

.player-gone {
	opacity: 0.2;
}

.player-header {
	font-weight: bold;
	position: fixed;
	background: #fff;
	border-bottom: 1px solid #eee;
	padding: 3px 3px 0;
	top: 0;
	right: 0;
	left: 241px;
	line-height: 36px;
}

.player-header * {
	color: #000 !important;
}

.players-options,
.franchise-options,
.franchise-status {
	position: fixed;
	background: #fff;
	border-top: 1px solid #eee;
	padding: 3px 3px 0;
	text-align: center;
}

.players-options {
	bottom: 0;
	right: 0;
	left: 241px;
	line-height: 36px;
	font-weight: bold;
}

.franchise-options {
	font-weight: bold;
	bottom: 0;
	left: 0;
	width: 240px;
	line-height: 36px;
}

.franchise-status {
	top: 0;
	left: 0;
	width: 240px;
	padding: 0;
	border-top: none;
	background: #eee;
}

input {
	margin-right: 5px;
}

label:hover {
	text-decoration: underline;
	cursor: pointer;
}

.player-header *:hover {
	text-decoration: underline;
	cursor: pointer;
}

.player-stats { 
	float: right;
	width: 320px;
}

.player-pick,
.player-name,
.player-team,
.player-left,
.player-position { 
	margin-right: 5px;
	display: inline-block;
}

.player-pick,
.player-team {
	color: #bbb;
	min-width: 1.5em;
	text-align: center;
}

.player-main {
	overflow: hidden;
}

.player-pick {
	float: left;
	padding: 0 3px 0;
}

.player-gone .player-team {
	color: inherit;
}

.player-left {
	color: #bbb;
	min-width: 1.5em;
	font-weight: bold;
	text-align: center;
}

.player-left-5, .player-left-6 { color: #71bf42; }
.player-left-3, .player-left-4 { color: #f0cf43; }
.player-left-2 { color: #fda947; }
.player-left-1 { color: #fc6162; }

.player-position {
	font-weight: bold;
	min-width: 1.5em;
	text-align: center;
}

.player-position-QB { color: #67b3dd; }
.player-position-RB { color: #71bf42; }
.player-position-WR { color: #fc6162; }
.player-position-TE { color: #9c49b6; }

.player-age,
.player-adp,
.player-dlf-adp,
.player-dlf-stddev {
	display: inline-block;
	width: 25%;
	text-align: center;
}

.franchise {
	background: #eee;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 240px;
	overflow: hidden;
	overflow-y: auto;
  border-right: 1px solid #eee;
}

.franchise-roster {
	padding-top: 43px;
	padding-bottom: 50px;
}

.franchise-main,
.franchise-icon,
.franchise-name {
	width: 100%;
	height: 40px;
}

.franchise-name {
	display: block;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	background: #67b3dd;
	color: #fff;
}

.franchise-name:hover {
	text-decoration: underline;
}

.franchise-main:hover {
	cursor: pointer;
}

.player-compact { 
	border-radius: 3px;
	text-align: center;
	background: #fff;
	margin: 10px 10px 0;
	padding: 3px 3px 0;
}

.franchise-donate,
.franchise-next {
	text-align: center;
	margin: 10px 10px 0;
	padding: 3px 3px 0;
	font-size: 110%;
	text-transform: uppercase;
}

.franchise-roster-log .franchise-donate,
.franchise-roster-log .franchise-next {
	font-size: 100%;
}

.franchise-roster .player-team,
.franchise-roster .player-position {
	width: auto;
	min-width: 0;
}

.franchise-donate a,
.franchise-next-draft,
.franchise-next-pick {
	font-weight: bold;
}

.franchise-donate a {
	text-decoration: none;
	background-color: #67b3dd;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
	padding: 3px 5px 0;
}

.franchise-donate a:hover {
	text-decoration: underline;
	background-color: #4d9cc7;
}

.franchise-next-draft {
	color: #fc6162;
}

.player-my-pick {
	display: block;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
	padding: 3px 3px 0;
	background: #f6f6f6;
	font-size: 110%;
	text-transform: uppercase;
	border-top: 1px solid #eee;
}

.player-my-pick-up {
	background: #fc6162;
}

.players-options-modes,
.players-options-positions {
	display: inline-block;
	margin: 0 10px;
}

.players-options label,
.franchise-options label {
	display: inline-block;
	margin: 0 5px;
}

.depth {
	margin-bottom: -10px;
	will-change: opacity;
}

.depth-team {
	display: inline-block;
	width: 157px;
	margin-right: 23px;
	margin-bottom: 10px;
	overflow: hidden;
}

.depth-team-mine {
	font-weight: bold;
}

.depth-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 157px;
	display: inline-block;
	margin-bottom: -10px;
}

.depth-title-rating {
	float: right;
	text-align: center;
	width: 30px;
}

.depth-title-rating-GOOD {
	color: #71bf42;
}

.depth-title-rating-OKAY {
	color: #bbb;
}

.depth-title-rating-BAD {
	color: #fc6162;
}

.depth-players {
	display: block;
	width: 157px;
	line-height: 13px;
}

.depth-position {
	width: 13px;
	height: 13px;
	border-radius: 10px;
	margin-right: 3px;
	display: inline-block;
}
.depth-position:nth-of-type(10n) {
	margin-right: 0;
}

.depth-position-QB { background-color: #67b3dd; }
.depth-position-RB { background-color: #71bf42; }
.depth-position-WR { background-color: #fc6162; }
.depth-position-TE { background-color: #9c49b6; }
.depth-position-None { background-color: #f6f6f6; }

.depth-position-fade {
	opacity: 0.2;
}

.depth-position-None.depth-position-fade {
	opacity: 1;
}

.depth-legend {
	margin-bottom: 10px;
}

.depth-legend .depth-position,
.depth-legend .depth-title-rating,
.depth-legend label {
	float: none;
	margin-left: 10px;
	display: inline-block;
	text-align: left;
}

.depth-legend .depth-title-rating {
	width: auto;
}

.depth-legend .depth-position-QB {
	margin-left: 0;
}

[data-tip] {
	cursor: pointer;
}

.depth-tip {
	font-size: 16px !important;
}
