* { box-sizing: border-box }

html, body {
	color: #333;
	background: #fff;
	font: 16px/24px "proxima-nova-extra-condensed", sans-serif;
	margin: 0;
	padding: 0;
}

.players {
	padding-top: 30px;
	width: 100%;
}

.player {
	padding: 3px 3px 0;
	display: block;
	overflow: hidden;
}

.player-gone {
	opacity: 0.2;
}

.player-header {
	font-weight: bold;
	position: fixed;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	padding: 3px 3px 0;
	top: 0;
	right: 0;
}

.player-header * {
	color: #000 !important;
}

.player-header *:hover {
	text-decoration: underline;
	cursor: pointer;
}

.player-stats { 
	float: right;
	width: 350px;
}

.player-name,
.player-team,
.player-left,
.player-position { 
	margin-right: 5px;
	display: inline-block;
}

.player-team {
	color: #bbb;
	min-width: 1.5em;
	text-align: center;
}

.player-gone .player-team {
	color: inherit;
}

.player-left {
	color: #bbb;
	min-width: 1.5em;
	font-weight: bold;
	text-align: center;
}

.player-left-5, .player-left-6 { color: #71bf42; }
.player-left-3, .player-left-4 { color: #f0cf43; }
.player-left-2 { color: #fda947; }
.player-left-1 { color: #fc6162; }

.player-position {
	font-weight: bold;
	min-width: 1.5em;
	text-align: center;
}

.player-position-QB { color: #67b3dd; }
.player-position-RB { color: #71bf42; }
.player-position-WR { color: #fc6162; }
.player-position-TE { color: #9c49b6; }

.player-age,
.player-adp,
.player-dlf-adp,
.player-dlf-stddev {
	display: inline-block;
	width: 25%;
	text-align: center;
}
